body {
    direction:rtl;
    margin:0;
    padding:0;
    
}

.top-menu, .slider {
    width: 100%;
}

.top-menu {
    background-color: #c96deb;
    padding:5px 0;
}

.top-menu ul li a:hover{
    font-size:large;
}

.slider-bar img {
    width: 100%;
    height:250px;
}

.top-menu ul li {
    display:inline-block;
    list-style:none;
    margin: 0 10px;
}

.top-menu ul li a {
    text-decoration:none;
    margin: 0 5px;
}

.products-1 {
   width:25%;
    border:solid 1px #808080;
    display:inline-block;
    margin: 2px;
    padding:0 15px;
}

.products-1 img{
    width:100%;
    height:250px;
}

.hh-item {
    padding:0 240px;
}

.categories-div ul li a {
    text-decoration: none;
}

.products-main {
    width:69%;
    display:inline-block
}

.categories-main {
    width:30%;
    display:inline-block;
    border:solid 2px #808080;
}

.titr-1 {
    margin:10px 15px;
}

.button-1 {
    background-color: #5ee1e1;
    margin: 0px 20px 20px 0;
}